<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Event App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse w-100 order-3 dual-collapse2 ml-auto" id="navbarText">
        <span class="text-light mr-3 ml-auto">Hi {{loggedInUserName|titlecase}}</span>
        <button (click)="logout()" class="btn btn-danger ml-auto">Logout</button>
    </div>

</nav>