<div class="container-fluid">
    <app-header></app-header>
    <main class="container mt-4">
        <div class="row">
            <div class="col-6">
                <h3>Update Event (Event Name)</h3>
            </div>
            <div class="col-6">
                <button routerLink="/event" class="float-right btn btn-light">Events</button>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12">
                <div *ngIf="error" class="mb-4 alert alert-danger" role="alert">
                    {{error}}
                </div>
                <div *ngIf="showProgress" class="mb-4 progress">
                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar"
                        [ngStyle]="{'width': progressBarwidth +'%'}"></div>
                </div>
                <form [formGroup]="eventFormGroup">
                    <div class="form-group">
                        <label for="eventname">Event Name</label>
                        <input formControlName="name" type="text" class="form-control" id="eventname"
                            aria-describedby="eventname">
                    </div>
                    <div class="form-group">
                        <label for="eventdescription">Event Description</label>
                        <textarea formControlName="description" class="form-control" id="eventdescription"
                            rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="eventdate">Event Date</label>
                        <input formControlName="date" type="date" class="form-control" id="eventdate"
                            aria-describedby="eventdate">
                    </div>
                    <button [disabled]="eventFormGroup.invalid" (click)="save()" type="button"
                        class="btn-block btn btn-success">Update</button>
                </form>

            </div>
        </div>
    </main>
</div>