<div class="container-fluid">
    <app-header></app-header>
    <main class="container mt-4">
        <div class="row">
            <div class="col-6">
                <h3>Events</h3>
            </div>
            <div class="col-6">
                <button routerLink="/event/add" class="float-right btn btn-warning">New Event</button>
            </div>
        </div>

        <div class="row mt-3">
            <button *ngIf="loading" class="btn btn-primary" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
            </button>

            <p *ngIf="!loading && events && events.length == 0" class="text-center text-dark">No Events Available</p>

            <table *ngIf="!loading && events && events.length > 0" class="table table-striped">
                <thead>
                    <tr>
                        <th width="5%" scope="col">#</th>
                        <th width="25%" scope="col">Name</th>
                        <th width="40%" scope="col">Description</th>
                        <th width="20%" scope="col">Date</th>
                        <th width="5%" scope="col">&nbsp;</th>
                        <th width="5%" scope="col">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let event of events; index as i">
                        <th scope="row">{{ i + 1 }}</th>
                        <td>
                            {{ event.name }}
                        </td>
                        <td>{{ event.description | titlecase }}</td>
                        <td>{{ event.date | date }}</td>
                        <td><button class="btn btn-link text-primary" (click)="updateEvent(event.id)">Update</button>
                        </td>
                        <td><button class="btn btn-link text-danger" (click)="open(event.id)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>