<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Event App</a>
        <ul [activeId]="activeId" ngbNav #nav="ngbNav" class="navbar-nav">
            <li [ngbNavItem]="link.fragment" *ngFor="let link of links">
                <a ngbNavLink (click)="setPage(link.fragment)">{{link.title}}</a>
            </li>
        </ul>
    </nav>
    <main class="container mt-4">
        <ng-container [ngSwitch]="activeId">
            <ng-container *ngSwitchCase="1">
                <ng-container *ngTemplateOutlet="loginTemplate"></ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="2">
                <ng-container *ngTemplateOutlet="registerTemplate"></ng-container>
            </ng-container>

            <ng-container *ngSwitchDefault>
                <ng-container *ngTemplateOutlet="loginTemplate"> </ng-container>
            </ng-container>

        </ng-container>
    </main>
</div>

<ng-template #loginTemplate>
    <h3 class="mb-4">Login</h3>
    <div *ngIf="error" class="mb-4 alert alert-danger" role="alert">
        {{error}}
    </div>
    <div *ngIf="showProgress" class="mb-4 progress">
        <div class="progress-bar progress-bar-striped bg-info" role="progressbar"
            [ngStyle]="{'width': progressBarwidth +'%'}"></div>
    </div>
    <form [formGroup]="loginFormGroup">
        <div class="form-group">
            <label for="username">Username</label>
            <input formControlName="username" type="text" class="form-control" id="username"
                aria-describedby="username">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button [disabled]="loginFormGroup.invalid" (click)="login()" type="button"
            class="btn btn-primary">Login</button>
    </form>
</ng-template>

<ng-template #registerTemplate>
    <h3 class="mb-4">Register</h3>
    <div *ngIf="error" class="mb-4 alert alert-danger" role="alert">
        {{error}}
    </div>
    <div *ngIf="showProgress" class="mb-4 progress">
        <div class="progress-bar progress-bar-striped bg-info" role="progressbar"
            [ngStyle]="{'width': progressBarwidth +'%'}"></div>
    </div>
    <form [formGroup]="registerFormGroup">
        <div class="form-group">
            <label for="firstname">First Name</label>
            <input formControlName="firstname" type="text" class="form-control" id="firstname"
                aria-describedby="firstname">

        </div>
        <div class="form-group">
            <label for="lastname">Last Name</label>
            <input formControlName="lastname" type="text" class="form-control" id="lastname"
                aria-describedby="lastname">

        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input formControlName="username" type="text" class="form-control" id="username"
                aria-describedby="username">

        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">
            <small class="text-danger" *ngIf="f.email.touched && f.email.errors">
                Enter a valid email address
            </small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input formControlName="password" type="password" class="form-control" id="password">
            <small class="text-danger" *ngIf="f.password.touched && f.password.errors">
                Password should have minimum 8 characters
            </small>
        </div>

        <button type="button" [disabled]="registerFormGroup.invalid" (click)="register()"
            class="btn btn-primary">Register</button>
    </form>
</ng-template>




<ngb-toast *ngIf="showToast" [delay]="5000" [autohide]="autohideToast" (mouseenter)="autohideToast = false"
    (mouseleave)="autohideToast = true" (hide)="showToast = false; autohideToast = true"
    [class.bg-warning]="!autohideToast">
    <div *ngIf="autohideToast">
        Registration Successful
    </div>
    <div *ngIf="!autohideToast">
        Registration Successful
    </div>
</ngb-toast>